@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="X">
        <input type="text" id="button1" name="s1" /><input type="text" id="button2" name="s2" /><input type="text" id="button3" name="s3" /> <br />
        <input type="text" id="button4" name="s4" /><input type="text" id="button5" name="s5" /><input type="text" id="button6" name="s6" /> <br />
        <input type="text" id="button7" name="s7" /><input type="text" id="button8" name="s8" /><input type="text" id="button9" name="s9" /> <br />
    </div>
    <div id="results"></div>

    @Scripts.Render("~/scripts/jquery-3.3.1.js")
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")
    <script type="text/javascript">
        var i = 0;
        $(function () {
            $('input').one('click', function () {
                var button = $(this).attr('id');

                var element = document.getElementById(button);
                if (i % 2 == 0) {
                    $(element).val('X');

                }
                else {
                    $(element).val('O');

                }
                $(element).prop("disabled", true);
                $(element).css('text-align', 'center');
                i++;
                $.ajax({
                    url: "Winner",
                    data: {
                        s1: $('#button1').val(),
                        s2: $('#button2').val(),
                        s3: $('#button3').val(),
                        s4: $('#button4').val(),
                        s5: $('#button5').val(),
                        s6: $('#button6').val(),
                        s7: $('#button7').val(),
                        s8: $('#button8').val(),
                        s9: $('#button9').val()
                    },
                    type: 'POST',
                    success: function (data) {
                        $('#results').html(data);
                    }
                });
            });


        });


    </script>

